{% extends "base.html" %}

{% block title %}Chat - {{ chat_room.title }}{% endblock %}

{% block body %}
    <h1>Chat - {{ chat_room.title }}</h1>
    <div id="board">
    {% for message in messages %}
        <p>{{ message.username }}: {{ message.text }}</p>
    {% endfor %}
    </div>
    <input type="text" id="input">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
    function getUniqueUsername() {
        function getGUID() {
            return Math.floor((1 + Math.random()) * 0x10000).toString(16).substring(1);
        }

        return 'anonymous-' + getGUID();
    }

    var username = getUniqueUsername();
    var basicData = {username: username, room: '{{ chat_room.id }}'};
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.emit('join', basicData);

    socket.on('response', function(data) {
        $('#board').append($('<p/>').html(data['message']));
    });

    $('#input').keypress(function(event) {
       if (event.keyCode == 13) {
           var data = basicData;
           data['message'] = $(this).val();
           socket.emit('chat', data);
           $(this).val('');
       }
    });
    </script>
{% endblock %}