{% extends "base.html" %}

{% block title %}Chat - {{ chat_room.title }}{% endblock %}

{% block body %}
    <h1>Chat - {{ chat_room.title }}</h1>
    <div id="board">
    {% for message in messages %}
        <p data-id="{{ message.id }}">
            {{ message.username }}: {{ message.text }}
            {% if message.username == username %}
                -
                <button class="delete">Delete</button>
            {% endif %}
        </p>
    {% endfor %}
    </div>
    <input type="text" id="input">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">

    var username = '{{ username }}';
    var basicData = {username: username, room: '{{ chat_room.id }}'};
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.emit('join', basicData);

    socket.on('response', function(data) {
        var html = data['username'] + ': '+ data['message']['text'];
        if (data['username'] == username) {
            html += ' - <button class="delete">Delete</button>';
        }
        $('#board').append($('<p/>').html(html).attr('data-id', data['message']['id']));
    });

    $('#input').keypress(function(event) {
       if (event.keyCode == 13) {
           var data = basicData;
           data['message'] = $(this).val();
           socket.emit('chat', data);
           $(this).val('');
       }
    });

    $('body').delegate('.delete', 'click', function(event) {
        var $parent = $(this).parent();
        var messageId = $parent.data('id');
        $.get('/chat/delete/'+messageId, function(data) {
           if (data.status == 'success') {
               $parent.remove();
           }
        });
    });
    </script>
{% endblock %}