{% extends "base.html" %}

{% block title %}Chat - {{ chat_room.title }}{% endblock %}

{% block body %}
    <a href="/">Back to home</a>
    <h1>Chat - {{ chat_room.title }}</h1>
    <p>Press Enter to send message, Press ESC to cancel modify</p>
    <hr>
    <div id="board">
    {% for message in messages %}
        <p id="message-{{ message.id }}">
            <span>{{ message.username }}: {{ message.text }}</span>
            {% if message.username == username %}
                -
                <button class="modify">modify</button>
                <button class="delete">Delete</button>
            {% endif %}
        </p>
    {% endfor %}
    </div>
    <span>Input: </span><input type="text" id="input">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.2.1/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
    function getMessageIdByButton($button) {
        var $parent = $button.parent();
        return $parent.attr('id').replace('message-', '');
    }

    function makeChatText(username, text) {
        return username + ': ' + text;
    }

    var username = '{{ username }}';
    var basicData = {username: username, room: '{{ chat_room.id }}'};
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.emit('join', basicData);

    socket.on('response', function(data) {
        var html = '<span>' + makeChatText(data['username'], data['message']['text']) + '</span>';
        if (data['username'] == username) {
            html += ' - ';
            html += ' <button class="modify">Modify</button>';
            html += ' <button class="delete">Delete</button>';
        }
        $('#board').append($('<p/>').html(html).attr('id', 'message-'+data['message']['id']));
    });

    socket.on('delete', function(data) {
        $('#message-'+data['message_id']).remove();
    });

    socket.on('update', function(data) {
        var html = makeChatText(data['username'], data['message']['text']);
        $('#message-'+data['message']['id']).find('span').html(html);
    });

    $('#input').keypress(function(event) {
       if (event.keyCode == 13) {
           var data = basicData;
           data['message'] = $(this).val();
           socket.emit('chat', data);
           $(this).val('');
       }
    });

    $('body').delegate('.delete', 'click', function(event) {
        var messageId = getMessageIdByButton($(this));
        var data = basicData;
        data['message_id'] = messageId;
        socket.emit('delete', data);
    });

    $('body').delegate('.modify', 'click', function(event) {
        $(this).after('<input type="text" class="modifyInput">');
        $(this).hide();
    });

    $('body').delegate('.modifyInput', 'keyup', function(event) {
        function showButton($this) {
           $this.parent().find('button').eq(0).show();
           $this.val('').hide();
        }

        if (event.keyCode == 13) {
           var messageId = getMessageIdByButton($(this));
           var data = basicData;
           data['message_id'] = messageId;
           data['message'] = $(this).val();
           socket.emit('update', data);
           showButton($(this));
        } else if (event.keyCode == 27) {
           showButton($(this));
        }
    });
    </script>
{% endblock %}